API_ID=20069310 # get this value from my.telegram.org
API_HASH=12afff763261d0c5a0d171cc160e53aa # get this value from my.telegram.org
BOT_TOKEN=6055503339:AAE0ZRTbxQamOL5eWLvHPhghJCeWnvlo1SQ:ghsdvkhsvchsuhdc # get this value from @Botfather
MONGO_DB_URI=mongosh "mongodb+srv://cluster0.pv2v35n.mongodb.net/" --apiVersion 1 --username arijitray
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME=⏤͟͟⃟ 🅰️𝚛𝚒𝚓𝚒𝚝: 🆁𝚊𝚢❤️⟵ # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @NagmaMusic1Bo
